* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  outline: none;
  font-family: "Lato";
  font-size: 16px;
}
body {
  height: 100vh;
  max-height: 100vh;
}
